.header {
    position: relative;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
        url(../images/image-hero-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    width: 100%;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    margin: 0 12rem;
    @include respond(tab-land) {
        margin: 0 10rem;
    }
    @include respond(tab-port) {
        margin: 0 5rem;
    }
    &__logo {
        z-index: 900;
        &--img {
            width: 20rem;
        }
    }
    &__links {
        transition: 0.5s all;
        position: relative;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        :not(:last-child) {
            margin-right: 5rem;
        }
        a {
            text-decoration: none;
            color: #fff;

            &:hover {
                font-size: 1.8rem;
            }

            @include respond(phone) {
                color: rgb(0, 0, 0);
                font-size: 5rem;
            }
        }
        li {
            list-style: none;
            @include respond(tab-port) {
                font-size: 3rem;
            }
            @include respond(phone) {
                text-align: left;
                margin: 3rem;
            }
        }
        @include respond(phone) {
            z-index: 900;
            box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
            position: absolute;
            height: 30vh;
            width: 100%;
            background-color: rgb(255, 255, 255);
            top: 50%;
            left: -50%;
            transform: translate(-50%, 20%);
            max-width: 60rem;
            border-radius: 1.5rem;
            flex-direction: column;

            // display: none;
            visibility: hidden;
            opacity: 0;
        }
    }
}
.hamburger {
    position: relative;
    width: 4rem;
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
    z-index: 900;
    display: none;
    @include respond(phone) {
        display: block;
    }

    span {
        display: block;
        height: 0.3rem;
        background: #fff;
        margin: 0.7rem 0;
        position: relative;
        transition: 0.3s linear;
    }
}
