.body1 {
    position: relative;
    margin-top: -5rem;
}

.mastercraft {
    &::before {
        content: url(../images/logo-mastercraft.svg);
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: -5rem;
    }
    background-color: #fff;
    border-radius: 3rem;
    padding: 2rem 5rem;
    width: 60%;
    margin: 0 auto;
    text-align: center;

    &__title {
        font-size: 4rem;
        font-weight: 700;
        padding: 2.5rem 0;
    }
    &__paragraph {
        font-size: 2rem;
        color: $Dark-gray;
        margin-bottom: 5rem;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
    }
}
